


.menuprincipal{background-color: rgba(2, 54, 2, 0.466);
color: black;
border-radius: 10px 10px 10px 10px;
}

.menu {
margin-left: 20px;
margin-right: 20px;
padding: 20px;

}

ul{text-align: center;}

a{
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

#clock { background-color: green;
border-radius: 30px;
width: 150px;
}

body {
    font-family: Arial, sans-serif;
    padding: 30px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], select {
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }



.botão{background-color: rgb(7, 92, 7);}
  .comprerifas{
text-align: center;
margin: auto;
padding: auto;
background-color: rgba(2, 54, 2, 0.466);
border-radius: 5px 5px 5px 5px;

  }


  .rifa.comprada {
    background-color: green;
  }